<br>
<div class="container">
    <div>
        <h2>Socials</h2>

        <a href="https://facebook.com/wfgunawan">Facebook</a>
        <a href="https://twitter.com/Wildan_Fahmi_G">Twitter</a>
        <a href="https://www.instagram.com/wildanfahmig/">Instagram</a>
    </div>
    <br>
    <div class="col-sm-4">
        <b>Mail</b>
        <br>wildan.fahmi@ui.ac.id
    </div>
    <div class="col-sm-4">
        <b>Phone</b>
        <br>+6287741463534
    </div>
    <div class="col-sm-4">
        <b>Line</b>
        <br>wildanfahmig
    </div>
</div>	
<br>
<p>&copy; {{author}}</p><br>