{% extends "base.html" %}
{% block content %}
<style>
    #center_screen{
        position: absolute;
        width: 500px;
        height: 50px;
        top: 30%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    h3{
        position: absolute;
        width: 500px;
        height: 50px;
        top: 20%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>

<h3 style="text-align: center">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center" id="center_screen">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
            <td class="value">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
