{% extends "base.html" %}
{% block content %}
<body>
	<section id="hero" class="text-inverse">
		<div class="container text-xs-left">
			<h1 class="title display-2">Wildan Fahmi Gunawan</h1>
			<h3 class="subtitle">Future Software Engineer</h3>
		</div>
	</section>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<table >
							{% for bio in bio_dict %}
								<tr>
									<td class="subject">{{ bio.subject }}</td>
									<td class="value"> : {{ bio.value }}</td>
								</tr>
							{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</section>
	<br>
	<br>
	<section id="resume">
		<h1>Resume</h1>

		<h2>Education</h2>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-2"><b>University of Indonesia</b></div>
				<div class="col-sm-8">Computer Science</div>
				<div class="col-sm-2">Graduate in 2018</div>
			</div>
			<div class="row">	
				<div class="col-sm-2"><b>SMAN 1 Bekasi</b></div>
				<div class="col-sm-8">Science</div>
				<div class="col-sm-2">Graduated in 2016</div>
			</div>
		</div>
	</div>
	<br>
	<h2>Organization</h2>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-2"><b>Ketua PMR SMAN 1 Bekasi</b></div>
			<div class="col-sm-8">PMR atau Palang Merah Remaja SMAN 1 Bekasi 
				adalah salah satu ekskul yang ada di 
				SMAN 1 Bekasi yang bergerak dibidang kemanusiaan</div>
				<div class="col-sm-2">September 2014 - September 2015</di	v>
			</div>
		</div>
	</section>
	<br>
	<br>
	<section id="skills">
		<h1>Skills</h1>
		<div class="container">
			<div class="row">
				<ul">
					<li>Computer – Competitive Programming</li>
					<li>Computer – Video Editing</li>
				</ul>
			</div>
		</div>

	</section>
	<br>
	<br>
	<section id="portofolio">
		<h1>Portofolio</h1>
		<div class="container">
			<div class="col-sm-4">
				<p>
					Juara 1 Olimpiade Sains Komputer Tingkat Kota
					Februari 2015
					Olimpiade Sains Komputer Tingkat Kota adalah salah satu tingkat seleksi menuju Olimpiade Sains Nasional.
				</p>


			</div>
		</div>

	</section>
	<br>
	<br>
	<footer id="contact">
		<div class="container">
			<div>
				<h2>Socials</h2>

				<a href="www.facebook.com/wfgunawan">Facebook</a>
				<a href="https://twitter.com/wildan_fahmi_g">Twitter</a>
				<a href="https://www.instagram.com/wildanfahmig/">Instagram</a>
			</div>
			<br>
			<div class="col-sm-4">
				<b>Mail</b>
				<br>wildan.fahmi@ui.ac.id
			</div>
			<div class="col-sm-4">
				<b>Phone</b>
				<br>+6287741463534
			</div>
			<div class="col-sm-4">
				<b>Line</b>
				<br>wildanfahmig
			</div>
		</div>	
		<br>
		<div>
			&copy; Wildan 2016, Made by Wildan Fahmi Gunawan
		</div>
	</footer>
</body>
{% endblock %}