{% load staticfiles %}
<!DOCTYPE html>
<style>
#hero{
    text-align: center;
    height: 100%;
    padding-top: 15vh;
    padding-bottom: 15vh;
    background: url("http://babussalambuana.com/wp-content/uploads/2014/03/Savin-NY-Website-Background-Web.jpg") center center fixed;
    vertical-align: middle;
}

body,html{
	height: 100%;
    color:#222831;
}

#hero .container{
	border-left: 5px solid #acdcee;
}

.text-inverse{
	color:#2b3752;
}

.circletag{
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    background: #E6E7ED;
    -moz-border-radius: 10px;
    -webkit-border-radius: 150px;
}

#about{
	background-color: #ffca61;
	color:#2b3752;
}

footer{
	background-color: black;
    color:white;
    margin-top: 100px;
}

</style>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">  

    <title> 
        {% block title %} Lab 4 By {{author}}{% endblock %}
    </title>
</head>

<body>
    <header>
        {% include "lab_4/partials/header.html" %}
    </header>
    <content>
        <div>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "lab_4/partials/footer.html" %}
        {% endblock %}
    </footer>
    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
