{% extends "lab_4/layout/base.html" %}

{% block content %}
<section id="hero" class="text-inverse">
    <div>
        <img class='circletag' src="https://yt3.ggpht.com/-V-3yW1lBJW4/AAAAAAAAAAI/AAAAAAAAAAA/5jnhX_M_qgk/s900-c-k-no-mo-rj-c0xffffff/photo.jpg">
    </div>
    <div class="container text-xs-left">
        <h1 class="title display-2">Wildan Fahmi Gunawan</h1>
        <h3 class="subtitle">Future Software Engineer</h3>
    </div>
</section>
<div class="container">
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me" id="about">
    <h2>About Me</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ii}} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="Education">
    <h2>Education</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-2"><b>University of Indonesia</b></div>
            <div class="col-sm-8">Computer Science</div>
            <div class="col-sm-2">Graduate in 2020</div>
        </div>
        <div class="row">	
			<div class="col-sm-2"><b>SMAN 1 Bekasi</b></div>
			<div class="col-sm-8">Science</div>
			<div class="col-sm-2">Graduated in 2016</div>
		</div>
    </div>
    <br>
    <h2>Organization</h2>
    <div class="container">
        <div class="row">
                <div class="col-sm-2"><b>Ketua PMR SMAN 1 Bekasi</b></div>
                <div class="col-sm-8">PMR atau Palang Merah Remaja SMAN 1 Bekasi 
                    adalah salah satu ekskul yang ada di 
                    SMAN 1 Bekasi yang bergerak dibidang kemanusiaan</div>
                <div class="col-sm-2">September 2014 - September 2015</div>
        </div>
    </div>
</section>
<hr/>
<section name="Skills">
    <h2>Skills</h2>
    <div class="container">
        <ul>
            <li>Computer - Competitive Programming</li>
            <li>Computer - Video Editing</li>
        </ul>
    </div>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
</div>
<br>
{% endblock %}