{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-data" %}',
                dataType: 'json',
                success: function (response) {
                    var html = ''
                    
                    response.data.forEach(function(element){
                        html += '<a class="list-group-item clearfix">' +
                        element.friend_name + ' (' + element.npm + ') '+
                        '<span class="pull-right">' + '<br>' +
                            '<a class="btn btn-xs btn-default" href="/lab-7/delete-friend/' +
                            element.npm + '">Hapus teman</a>' + '</span>' + '</a>' 
                    });

                    $("#friend-list").append(html);
                },
                error: function(error){
                    alert("Error")
                }
            });
        });
    </script>
{% endblock %}
